#subs-logo {
    max-width: 80%;
}

button {
    background-color: rgb(255,193,6);
    color: white;
    border: none;
}

p {
    font-size: 14px;
}

@media screen and (max-width: 667px) {
   .container {
       text-align: center;
   }
}