<nav appBsNavbar (scroll)="onWindowScroll()" *ngIf="nav.visible">
  <div class="container">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">
      <img src="../../../assets/images/mandiri-logo.png" alt="mandiri-logo" id="logo-navbar">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item text-gold">
          <a class="nav-link" routerLink="/platinum" routerLinkActive="active">Platinum</a>
        </li>
        <li class="nav-item text-gold">
          <a class="nav-link" routerLink="/gold">Gold</a>
        </li>
        <li class="nav-item text-gold">
          <a class="nav-link" routerLink="/silver">Silver</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-warning" type="submit">Search</button>
      </form>
      <div class="mt-2 mx-2 date text-gold">
        <h5> {{ displayFormat | navtime }}</h5>
      </div>
    </div>
  </div>
</nav>