.navbar-nav > .nav-item > .active{ 
    color: rgb(175, 143, 0); 
    font-weight: 700;
}

.nav-item > a:hover {
    color: rgb(175, 143, 0);
}

#logo-navbar {
    max-width: 100px;
}

.btn-warning{
    color: rgb(94, 94, 94);
    border-color: rgb(255, 208, 0);
    background-color: rgb(255, 208, 0);
}

.btn-warning:hover{
    color: rgb(94, 94, 94);
    border-color: rgb(255, 224, 87);
    background-color: rgb(255, 224, 87);
}

.text-gold {
   a {
    color: white;
   }
}

.text-gold:hover {
   a {
    color: rgb(255, 208, 0);
   }
}

.badge,h5 {
    font-size: 16px;
}