<div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Register</h3>
                <form (ngSubmit)="register()" [formGroup]="RegisterUser">
                  <div class="form-label-group">
                    <input 
                      type="text" 
                      id="inputName" 
                      class="form-control" 
                      placeholder="Name" 
                      formControlName="name"
                      required autofocus
                    >
                    <label for="inputName">Name</label>
                  </div>

                  <div class="form-label-group">
                    <input 
                      type="email" 
                      id="inputEmail" 
                      class="form-control" 
                      formControlName="email"
                      placeholder="Email address" 
                      required
                    >
                    <label for="inputEmail">Email address</label>
                  </div>
  
                  <div class="form-label-group">
                    <input 
                      type="password" 
                      id="inputPassword" 
                      class="form-control" 
                      placeholder="Password" 
                      formControlName="password"
                      required
                    >
                    <label for="inputPassword">Password</label>
                  </div>

                  <div class="form-label-group">
                    <input type="password" id="reinputPassword" class="form-control" placeholder="Reenter Password" required>
                    <label for="reinputPassword">Reenter Password</label>
                  </div>
  
                  <button class="btn btn-lg btn-warning text-white btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Register</button>
                  <div class="text-center">
                    Have an account? <a routerLink="/login">Login now</a>

                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  