<footer class="border-top pt-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md">
        <img
          class="mb-2"
          src="../../../../assets/images/mandiri-logo.png"
          alt="mandiri-logo"
          style="width: 100px"
        />
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Home</a></li>
          <li><a class="text-muted" href="#">Event</a></li>
          <li><a class="text-muted" href="#">About</a></li>
          <li><a class="text-muted" href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-md">
        <h5>Central Office</h5>
        <p>Jl.Jenderal Gatot Subroto Kav.36-38</p>
        <p>Jakarta 12190 Indonesia</p>
        <small class="d-block mb-3 text-muted">&copy; 2021 PT Bank Mandiri (Persero) Tbk.</small>
      </div>
      <div class="col-md">
        <h5>Follow Us</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Facebook</a></li>
          <li><a class="text-muted" href="#">Twitter</a></li>
          <li><a class="text-muted" href="#">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>