<footer class="border-top pt-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md">
        <img
          class="mb-2"
          src="../../../../assets/images/mandiri-logo.png"
          alt="mandiri-logo"
          style="width: 100px"
        />
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Home</a></li>
          <li><a class="text-muted" href="#">Event</a></li>
          <li><a class="text-muted" href="#">About</a></li>
          <li><a class="text-muted" href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-md">
        <h5>Central Office</h5>
        <p>Jl.Jenderal Gatot Subroto Kav.36-38</p>
        <p>Jakarta 12190 Indonesia</p>
        <small class="d-block mb-3 text-muted">&copy; 2021 PT Bank Mandiri (Persero) Tbk.</small>
      </div>
      <div class="col-md">
        <h5>Follow Us</h5>
        <div class="row d-flex social">
          <div class="col-md">
            <a href="#fb"><img src="../../../../assets/icons/facebook.svg" alt="facebook-icon"></a>
          </div>
          <div class="col-md">
            <a href="#tw"><img src="../../../../assets/icons/twitter.svg" alt="twitter-icon"></a>
          </div>
          <div class="col-md">
            <a href="#ig"><img src="../../../../assets/icons/instagram.svg" alt="instagram-icon"></a>
          </div>
          <div class="col-6"></div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</footer>