.social {
  img {
    max-width: 250%;
  }
}

.logo {
  max-width: 100px;
}

.link {
    text-decoration: none !important;
}

.row-no-padding {
  margin: 0;
  [class*="col-"] {
    padding: 0 !important;
  }

  h5, p {
      margin: 0;
      padding: 0;
  }
}

@media screen and (max-width: 667px) {
  footer {
    text-align: center;
  }

  .logo {
    margin-left: 20px;
  }

  .social {
    padding-top: 15px !important;

    img {
      max-width: 10%;
    }
  }
}