.social {
  img {
    width: 30px;
    height: 30px;
  }
}

.logo {
  max-width: 100px;
}

.link {
  text-decoration: none;
}

.row-no-padding {
  margin: 0;
  [class*="col-"] {
    padding: 0 !important;
  }

  h5, p {
      margin: 0;
      padding: 0;
  }
}
