<footer class="border-top pt-4" *ngIf="nav.visible">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md">
        <img
          class="mb-2 logo"
          src="../../../../assets/images/mandiri-logo.png"
          alt="mandiri-logo"
        />
        <ul class="list-unstyled text-small">
          <li><a class="link" routerLink="/home">Home</a></li>
          <li><a class="link" routerLink="/event">Event</a></li>
          <li><a class="link" routerLink="/about">About</a></li>
          <li><a class="link" routerLink="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="col-md">
        <div class="row-no-padding">
          <h5>Central Office</h5>
          <p class="pt-2">Jl. Jenderal Gatot Subroto Kav.36-38</p>
          <p>Jakarta 12190 Indonesia</p>
        </div>
      </div>
      <div class="col-md social">
        <h5>Follow Us</h5>
        <div class="row ">
          <div class="col-md-1">
            <a href="https://www.facebook.com/bankmandiri/" target="_blank">
              <img
                src="../../../../assets/icons/facebook.svg"
                alt="facebook-icon"
              />
            </a>
          </div>
          <div class="col-md-1">
            <a href="https://www.twitter.com/bankmandiri/" target="_blank">
              <img
                src="../../../../assets/icons/twitter.svg"
                alt="twitter-icon"
              />
            </a>
          </div>
          <div class="col-md-1">
            <a href="https://www.instagram.com/bankmandiri/" target="_blank">
              <img
                src="../../../../assets/icons/instagram.svg"
                alt="instagram-icon"
              />
            </a>
          </div>
          <div class="col-md-9"></div>
        </div>
      </div>
    </div>
    <div class="row text-center pt-4">
      <small class="d-block mb-3 text-muted">
        &copy; 2021 PT Bank Mandiri (Persero) Tbk.
      </small>
    </div>
  </div>
</footer>
