<nav appBsNavbar (scroll)="onWindowScroll()" *ngIf="nav.visible">
  <div class="container">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">
      <img src="../../../assets/images/mandiri-logo.png" alt="mandiri-logo" id="logo-navbar">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="" (click)="navigateProduct('platinum', 1)">Platinum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="" (click)="navigateProduct('gold', 1)">Gold</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="" (click)="navigateProduct('silver', 1)">Silver</a>
        </li>
        <div class="row m-auto">
          <div class="col">
           <p class="m-auto text-secondary"> {{ displayFormat | navtime }}</p>
          </div>
         </div>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-warning" type="submit">Search</button>
      </form>
      <ul class="navbar-nav mx-2">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-user"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="" routerLink="/profile">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="" routerLink="/login">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>