<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 login-image">
            <!-- <img src="../../../../assets/images/carousel-1.png" alt=""> -->
        </div>
        <div class="col-md-8 login-form w-50">
            <form>
                <div class="form-group">
                    <h4>Login to Gold Market</h4>
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" >
                </div>
                <button type="submit" class="btn btn-warning">Login</button>
               <div class="mt-4">
                Not a member? <a routerLink="/register">Register now</a>
               </div>
            </form>
        </div>
    </div>
</div>