.login-image {
    height: 735px;
   background-color: bisque;
}

.login-form {
    margin: auto;
    height: 100%;
}

.container-fluid {
    margin: auto;
    width: auto;

    .w-50 {
        width: 30% !important;
    }
}

.form-group {
    padding: 10px 0px;
    label {
        font-weight: 600;
    }
}

a {
    text-decoration: none; 
 }

 @media screen and (max-width: 667px) {
    .container-fluid {
        height: 100%;
        margin: auto 0;
        .w-50 {

            width: 90% !important;
        }
    }

    .login-image {
        height: 0%;
        background-color: bisque;
    }

    .login-form {
        margin-top: 45%;
    }

 }