<div class="container-fluid text-center" id="main-container">
  <h2 class="py-4">Our Product</h2>
  <div class="row d-flex justify-content-around mx-4">
    <div class="col-md product">
      <img src="../../../../../assets/images/1.png" alt="platinum" />
      <h3>Platinum Investment</h3>
    </div>
    <div class="col-md product mx-4">
      <img src="../../../../../assets/images/2.png" alt="gold" />
      <h3>Gold Investment</h3>
    </div>
    <div class="col-md product">
      <img src="../../../../../assets/images/3.png" alt="silver" />
      <h3>Silver Investment</h3>
    </div>
  </div>
</div>
