#main-container {
    background-color: #F5F5F5;
}

.product {
    border: 1px solid #d3d3d3;
    background-color: white;
    img {
        width: 300px;
    }
    h3 {
        padding-bottom: 20px;
    }
}

