<div class="container my-4">
  <div class="row">
    <div class="col-sm-6 my-auto">
      <img
        src="../../../assets/images/subs.png"
        alt="subs-image"
        id="subs-logo"
      />
    </div>
    <div class="col-sm-6 my-auto">
      <div class="row justify-content-md-center text-center">
        <div class="row pb-4">
          <h2>Why mandiri gold?</h2>
        </div>
        <div class="row">
          <div class="col-sm">
            <h4>Delivery</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
            </p>
          </div>
          <div class="col-sm">
            <h4>Legality</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
            </p>
          </div>
          <div class="col-sm">
            <h4>Price</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
            </p>
          </div>
        </div>
      </div>
      <div class="row justify-content-md-center text-center pt-2">
        <div class="col-sm">
          <h4>Reward</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
          </p>
        </div>
        <div class="col-sm">
          <h4>Transaction</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
          </p>
        </div>
        <div class="col-sm">
          <h4>Brand</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
          </p>
        </div>
      </div>
      <div
        class="
          row
          justify-content-md-center
          align-content-between
          text-center
          pt-2
        "
      >
        <h2>Let's join us for free</h2>
        <!-- <button class="mt-4 py-2">Register</button> -->
        <app-button
          (click)="functionCall()"
          [label]="label"
          class="mt-2"
        ></app-button>
      </div>
    </div>
  </div>
</div>
