<div class="container mt-4">
    <div class="row">
      <div class="col-sm-6">
        <img
          src="../../../assets/images/subs.png"
          alt="subs-image"
          id="subs-logo"
        />
      </div>
      <div class="col-sm-6">
        <div class="row justify-content-md-center align-item-center text-center">
          <div class="row pb-4">
            <h2>Why mandiri gold?</h2>
          </div>
          <div class="row">
            <div class="col-sm">
              <h3>Delivery</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
              </p>
            </div>
            <div class="col-sm">
              <h3>Legality</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
              </p>
            </div>
            <div class="col-sm">
              <h3>Price</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
              </p>
            </div>
          </div>
        </div>
        <div class="row justify-content-md-center text-center pt-2">
          <div class="col-sm">
            <h3>Reward</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
            </p>
          </div>
          <div class="col-sm">
            <h3>Transaction</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
            </p>
          </div>
          <div class="col-sm">
            <h3>Brand</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
            </p>
          </div>
        </div>
        <div class="row justify-content-md-center align-content-between text-center pt-2">
            <h2>Let's join us for free</h2>
            <button class="mt-4 py-2">Register</button>
        </div>
      </div>
    </div>
  </div>
  